<h2>この投稿を編集する</h2>
<%= render 'form', post: @post %>
<div class="link　btn-group">
  <span class="btn btn-default"><%= link_to '詳細画面へ戻る', @post %></span>
  <span class="btn btn-default"><%= link_to '一覧画面へ戻る', posts_path %></span>
</div>
