<h1>みんなの投稿</h1>
<% @posts.each do |post| %>
  <div class="index_item">
    <div class="user_name">
      <p><%= post.user.name %>さん</p>
    </div>
    <div class="post_content">
      <p><%= post.content %></p>
    </div>
    <div class="post_image">
      <%= image_tag post.image.url %>
    </div>
    <div class="link　btn-group">
      <span class="btn btn-default"><%= link_to '詳細を確認する', post_path(post.id) %></span>
    </div>
  </div>
<% end %>
